*
{
    margin: 0;
    padding: 0;
    
}
body 
{
    background-color: black;
}
#container 
{
width: fit-content;
background-color: black;
margin: 0 auto;


}

header 
{
    height: 100px;
    width: 910px;
    padding: 25px;
    background-color: black;
    margin-bottom: 10px;
    border-style: solid;
    border-color: aliceblue;
}
nav 
{
    width: 940px;
    background-color: indigo;
    Padding:10px;
    margin-bottom: 10px;
   
}
nav li {
      display: inline;  
      list-style-type: none;
      padding-right: 40px;
      
}
nav a:link {
    color: ivory;
}
#Intro
{
    width: 200px;
    height: fit-content;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: black;
    float: left;
    clear: right;
    border-style: solid;
    border-color: aliceblue;
    
}
#Details
{
    width: fit-content;
    height: fit-content;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: black;
    float: left;
    clear: right;
    border-style: solid;
    border-color: aliceblue;
}
section
{
    width: 710px;
    height: fit-content;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: black;
    border-style: solid;
    border-color: aliceblue;
    clear:both;
}

footer
{
    background-color: blue;
    padding: 10px;
    clear: both;
}
h1, h2, p {
    color: white;
}
ul {
    color: white;
}
li {
    color: white;
}