*
{
    margin: 0;
    padding: 0;
    
}
body 
{
    background-color: black;
}
#container 
{
width: fit-content;
background-image:url(skulls.png);
margin: 0 auto;


}

header 
{
    height: fit-content;
    width: 1370px;
    padding: 25px;
    background-color: black;
    border-style: solid;
    border-color: aliceblue;
}
nav 
{
    width: 1400px;
    background-color: darkred;
    Padding: 10px;
    margin-bottom: 10px;
   
}
nav li {
      display: inline;  
      list-style-type: none;
      padding-right: 40px;
    
      
}
nav a:link {
    color: white;
    text-decoration: none;
}
nav a:visited {
    color: white;
    text-decoration: none;
}
footer a:link {
    color: midnightblue;
    text-decoration: none;
}
footer a:visited {
    color: midnightblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
 a:active {
    color: black;
    text-decoration: underline;
}
#Intro 
{
    width: 200px;
    height: fit-content;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: black;
    float: left;
    clear: right;
    border-style: solid;
    border-color: aliceblue;
    
}
#Details
{
    width: fit-content;
    height: fit-content;
    margin: 0 0 10px 0;
    padding: 10px;
    padding-left: 20px;
    background-color: black;
    float: left;
    clear: right;
    border-style: solid;
    border-color: aliceblue;
}
#Circles {
    width: fit-content;
    height: fit-content;
    margin: 0 0 10px 0;
    padding: 10px;
    padding-left: 20px;
    background-color: black;
    float: left;
    border-style: solid;
    border-color: aliceblue;
}
section
{
    width: 710px;
    height: fit-content;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: black;
    border-style: solid;
    border-color: aliceblue;
    clear:both;
}
#Nahyuta {
    height: fit-content;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: black;
    border-style: solid;
    border-color: aliceblue;
    
}
footer
{
    background-color: darkred;
    padding: 10px;
    clear: both;
}
h1, h2, p {
    color: white;
}
ul {
    color: white;
}
li {
    color: white;
}
